*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;

	@include atTablet {
		scroll-padding-top: 57px;
	}
}

body {
	color: $text;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.5;
	overflow-x: hidden;
}

.site {
	overflow: hidden;
}

#content {
	font-size: 75%;

	@include atSmDesktop {
		font-size: 100%;
	}
}

a,
a:visited {
	color: #06f;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

img {
	height: auto;
	max-width: 100%;
}

.openSans {
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-size: 1.66666666666667em;
}

h2 {
	font-size: 1.875em;
	font-family: "Raleway", sans-serif;
}

h3 {
	font-size: 1.75em;
	font-weight: 600;
	color: $blue_black;
	margin-top: 32px;
	margin-bottom: 1px;
	font-family: "Raleway", sans-serif;
}

h4 {
	font-size: 1.2em;
	font-family: "Open Sans", sans-serif;
}

h5 {
	font-size: 0.93em;
	font-family: "Raleway", sans-serif;
}

h6 {
	font-size: 0.875em;
	font-family: "Raleway", sans-serif;
}

.show-on-mobile {
	display: none;
}

.hr-seperator {
	width: 50px;
	height: 3px;
	background-color: $rust;
	margin: 1.7em auto;
	border: none;
}

.align-center {
	margin: 0 auto;
	overflow: hidden;
	display: block;
	clear: both;
	text-align: center;
	float: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin-bottom: 1.5em;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

.small-caps {
	font-variant: small-caps;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	padding: 0 !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus-visible {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.column-container:before,
.column-container:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.column-container:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.header-wrap {
	@include atTablet {
		display: flex;
	}
}

.site-header {
	width: 100%;
	position: fixed;
	padding: 0.75em 0;
	background-color: $blue_black;
	z-index: 3;
	transition: background 0.3s ease;

	@include atTablet {
		padding: 0.25em 0;
	}
}

.site-header-hide {
	opacity: 0;
}

.site-branding {
	text-align: center;
	float: left;
	overflow: hidden;
}

#site-navigation {
	position: relative;
	margin-left: auto;
}

.main-navigation ul {
	display: flex;
	width: 100%;
	min-height: 50px;
	list-style: none;
	text-align: center;
	margin: 0;
	padding-left: 0;
}

.site-branding,
.main-navigation li {
	display: inline-flex;
	align-items: center;
	margin: 0;
	transition: none;
}

.main-navigation li:last-of-type a {
	padding-right: 0;
}

.site-branding > a,
.main-navigation a {
	padding: 9px 16px;
	color: #fff;
	font-family: raleway;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transition: color 0.3s ease;

	&:focus-visible {
		outline: 2px solid white;
		outline-offset: 3px;
	}
}

.site-branding > a {
	padding-left: 0;
	text-transform: initial;
}

.site-branding > a:hover,
.main-navigation a:hover {
	color: $rust;
}

.menu-toggle {
	display: none;
}

/* the mobile menu */
@media screen and (max-width: 767px) {
	.menu-toggle {
		display: block;
		position: absolute;
		right: 0;
		top: 4px;
		padding: 4px;
		background-color: $rust;
		border-radius: 3px;
		z-index: 1000;
	}
	.icon-bar {
		display: block;
		margin: 4px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #000;
	}

	.main-navigation ul {
		display: block;
		height: 0;
		min-height: 0;
		overflow: hidden;
		transition: height 0.3s ease;
	}

	.main-navigation ul.mobile-menu {
		height: 130px;
	}

	.main-navigation {
		float: none;
		width: 100%;

		&.toggled {
			ul {
				height: 44px;
			}
		}
	}

	.main-navigation ul {
		text-align: center;
	}

	.site-branding {
		margin: 0 auto;
		z-index: 10;
	}
}

.home-wrap {
	padding-top: 8em;
	padding-bottom: 3em;
}

.landing-text-pos {
	margin-top: 1em;
	text-align: center;
}

h1,
h2 {
	margin-bottom: 20px;
	color: $blue_black;
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: 0.25px;
	font-family: "Raleway", sans-serif;
}

h2 {
	margin-bottom: 36px;
}

#title_hr {
	border-top: 3px solid #fff;
	margin: 0.6em auto;
	width: 50px;
}

.landing-intro {
	font-size: 1.3em;
	letter-spacing: 0.25px;
}

.landing-intro-email {
	font-size: 1.2em;

	a {
		color: #696969;
	}
}

.about-me-wrap {
	padding: 6vh 0;
	background-color: #fff;
	overflow: hidden;
}

.desc-text {
	font-size: 1.5em;
}

.expertise-wrap {
	padding: 10vh 0;
	background-color: white;
	overflow: hidden;
}

.portfolio-wrap {
	padding: 2.8em 0;
	background-color: #efefef;
	overflow: hidden;
}

.portfolio-items {
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	max-width: 1400px;
	margin: 2em auto 0;

	@include atTablet {
		width: 75%;
	}
}

.portfolio-item-wrap {
	position: relative;
	width: 100%;
	margin: 15px;
	overflow: hidden;

	@include atSmall {
		width: calc(50% - 30px);
	}

	@include atTablet {
		width: calc(50% - 30px);
	}

	@include atSmDesktop {
		width: calc(33% - 30px);
	}
}

.portfolio-item {
	margin-bottom: 40px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.05),
		0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
		0 3.5px 6px hsla(0, 0%, 0%, 0.09);

	@include atTablet {
		&:nth-child(2n) .grid-row {
			direction: rtl;
			flex-direction: row-reverse;
		}
	}

	@include atTablet {
		&:nth-child(even) .grid-row {
			.portfolio-details {
				padding-left: 15px;
				text-align: left;
			}
		}
	}

	@include atSmDesktop {
		&:nth-child(even) .grid-row {
			.portfolio-details {
				padding-left: 30px;
			}
		}
	}

	.portfolio-image {
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include atTablet {
			height: auto;
		}
	}

	.portfolio-details {
		@include atTablet {
			padding: 15px;
		}
		@include atSmDesktop {
			padding: 20px 15px 28px 30px;
		}
	}

	.portfolio-detail-content {
		padding: 15px;
		direction: ltr;

		@include atTablet {
			padding: 0;
			padding-right: 15px;
		}
	}

	.portfolio-details h3 {
		margin-bottom: 0;
		font-size: 2em;
		line-height: 1.25;

		@include atTablet {
			line-height: 1.5;
		}
	}

	.portfolio-details h4 {
		margin-bottom: 1em;
		font-size: 1.4em;
		color: #000;
		font-weight: 400;
	}

	.portfolio-details .info-text {
		max-width: 700px;
		font-size: 1.4em;

		@include atSmDesktop {
			font-size: 1.142857142857143em;
		}
	}

	.portfolio-image img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		aspect-ratio: 6/4;
	}
}

.btn--gold {
	display: inline-block;
	min-width: 130px;
	margin: 8px 0;
	padding: 8px 12px;
	background-color: $rust;
	border: 0;
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	z-index: 1;
	outline: none;
	letter-spacing: 0.75px;

	@include atTablet {
		padding: 10px 16px;
	}

	&:hover {
		background-color: $rustHover;
	}

	&.btn--lrg {
		padding: 12px 30px;
		font-size: 1.1em;
	}

	&.btn--resume {
		color: #fff;
		margin: 50px auto 5px;
	}

	&.btn--view-more {
		margin: 0;
	}

	&.btn--link {
		color: #fff;
		margin: 4px 0 8px;
	}

	&.btn--resume,
	&.btn--view-more,
	&.btn--link {
		&:focus-visible {
			outline: 2px solid black;
			outline-offset: 2px;
		}
	}

	&.btn--link {
		&:focus-visible {
			outline: 2px solid white;
			outline-offset: 3px;
		}
	}
}

.dialog-overlay {
	background-color: #efefef;
}

.dialog-content {
	height: 100%;
	overflow-y: auto;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
	transition-property: opacity, visibility, transform;
	transform: translateY(57px);
	transform: translateY(0px);
	z-index: 99999;
	background-color: #efefef;

	@include atTablet {
		height: calc(100vh - 4em);
	}
}

.dialog-body {
	display: flex;
	height: 100%;
}

.dialog-content .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	z-index: 10;

	@include atTablet {
		flex-wrap: nowrap;
	}
}

.dialog-content .container .dialog-info-wrap {
	position: relative;
	width: 100%;
	padding: 4em 2em 3em;
	background-color: #262626;

	@include atTablet {
		width: 50%;
		height: 100%;
		overflow: auto;
		padding: 4em 2em 2em;
	}

	@include atSmDesktop {
		padding: 4em 3em 2em;
	}
}

.dialog-info-item {
	h3 {
		margin-bottom: 12px;
		font-size: 2em;
		color: white;
		font-weight: 600;
	}

	h4 {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.25em;
		font-weight: 400;
		color: white;
	}

	h5 {
		margin: 30px 0 6px 0;
		font-size: 12px;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		color: white;
		letter-spacing: 1px;
	}

	.info-text {
		margin-top: 24px;
		margin-bottom: 40px;
		font-size: 1.4em;
		letter-spacing: 0.025rem;
		color: #b7b7b7;
		line-height: 25px;

		@include atSmDesktop {
			font-size: 1.142857142857143em;
		}
	}

	.info-tech {
		font-size: 12px;
		color: #b7b7b7;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 10px -2px 0;
	}

	.label {
		display: inline-block;
		margin: 0 2px 4px;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		line-height: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		letter-spacing: 0.75px;
		border-radius: 0;
		padding: 3px 6px;
		font-size: 10px;
		vertical-align: middle;
		pointer-events: none;
		user-select: none;

		@include atTablet {
			padding: 4px 8px;
		}

		&.html {
			background-color: #ab7a7a;
		}

		&.css,
		&.scss,
		&.responsive-design {
			background-color: #a0ab7a;
		}
		&.wordPress {
			background-color: #7aab97;
		}
		&.javascript,
		&.jquery,
		&.react,
		&.styled-components,
		&.jekyll,
		&.liquid {
			background-color: #7a93ab;
		}
		&.photoshop,
		&.illustrator,
		&.inkscape {
			background-color: #a67aab;
		}
		&.more {
			background-color: #ab7a7b;
		}
	}
}

.dialog-info-item,
.dialog-image-wrap img,
.black-close {
	transition: 0.4s cubic-bezier(0.13, 0.19, 0.34, 0.96);
	transition-property: opacity, transform;
	transform: translateY(30px);
	transition-delay: 1.6s;
	opacity: 0;
}

.black-close {
	transform: translateY(60px);
	transition-delay: 1.6s;
}

.dialog-container[aria-modal="true"] {
	.dialog-content {
		opacity: 1;
		visibility: visible;
		/* transform: none; */
	}

	.dialog-info-item,
	.dialog-image-wrap img,
	.black-close {
		opacity: 1;
		transform: none;
	}
}

.dialog-content .container .dialog-image-wrap {
	width: 100%;
	padding: 2em;
	background-color: #afafaf;
	text-align: center;

	@include atTablet {
		display: block;
		width: 50%;
		height: 100%;
		overflow: auto;
	}
}

.dialog-content .container .dialog-image-wrap > img {
	width: 100%;
	max-width: 320px;
	margin-bottom: 2em;
	aspect-ratio: 6/4.61;
	object-fit: cover;
	border-radius: 6px;
	box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
		0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
		0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);

	&:last-of-type {
		margin: 0;
	}

	@include atMedium {
		width: calc(50% - 1em);
		max-width: 100%;
		float: left;

		&:nth-of-type(odd) {
			margin-right: 2em;
		}
	}

	@include atTablet {
		width: 100%;
		float: none;

		&:nth-of-type(odd) {
			margin-right: 0;
		}
	}
}

.black-close {
	display: inline-flex;
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	padding: 0;
	background-color: transparent;
	border: 0;
	color: #fff;
	font-size: 1.5rem;
	text-shadow: none;
	outline: none;

	&:focus-visible {
		outline: 2px solid white;
		outline-offset: 3px;
	}
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

footer {
	background-color: $blue_black;
	color: #fff;
	text-align: left;
	padding: 1.25em 1em;
	margin: 0;
}

.footer-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: 0.1em;

	@include atTablet {
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer-wrap p {
	margin: 0;
}

.footer-wrap a {
	display: inline-block;
	color: #fff;
	transition: color 0.3s ease, box-shadow 0.3s ease;

	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
	}
}

.footer-wrap a:hover {
	color: $rust;
}
