/* ==========================================================================
    Contents
   ==========================================================================
   General
   Links
   Images
   Typography
   Alignment
   Accessiblity
   Clearings
   Wrap
   Header
   Layout
   Menus
   Sprites
   Hover effects
   Home
   Contact
   Footer
   Forms
   ========================================================================== */

/* ==========================================================================
   Border-box all the things!
   ========================================================================== */

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ==========================================================================
   General
   ========================================================================== */
html {
	scroll-behavior: smooth;
}

body {
	color: $text;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.5;
	overflow-x: hidden;
}

.site {
	overflow: hidden;
}

#content {
	font-size: 75%;

	@include atSmDesktop {
		font-size: 100%;
	}
}

/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited {
	color: #06f;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* ==========================================================================
   Images
   ========================================================================== */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* ==========================================================================
   Typography
   ========================================================================== */

.openSans {
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-size: 1.66666666666667em; /* 30px */
}

h2 {
	font-size: 1.875em; /*30px*/
	font-family: "Raleway", sans-serif;
}

h3 {
	font-size: 1.75em;
	font-weight: 600;
	color: $blue_black;
	margin-top: 32px;
	margin-bottom: 1px;
	font-family: "Raleway", sans-serif;
}

h4 {
	font-size: 1.2em; /*18px*/
	font-family: "Open Sans", sans-serif;
}

h5 {
	font-size: 0.93em; /*15px*/
	font-family: "Raleway", sans-serif;
}

h6 {
	font-size: 0.875em; /*14px*/
	font-family: "Raleway", sans-serif;
}

.show-on-mobile {
	display: none;
}

.hr-seperator {
	width: 50px;
	height: 3px;
	background-color: $rust;
	margin: 1.7em auto;
	border: none;
}

.align-center {
	margin: 0 auto;
	overflow: hidden;
	display: block;
	clear: both;
	text-align: center;
	float: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin-bottom: 1.5em;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

.small-caps {
	font-variant: small-caps;
}

/* ==========================================================================
   Alignment
   ========================================================================== */

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* ==========================================================================
   Accessiblity
   ========================================================================== */

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* ==========================================================================
   Clearings
   ========================================================================== */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.column-container:before,
.column-container:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.column-container:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/* ==========================================================================
   Wrap
   ========================================================================== */

/* .header-wrap,
.wrap,
.home-wrap,
.footer-wrap {
	margin: 0 auto;
	padding: 0;
	position: relative;
	max-width: 92%;

	@include atTablet {
		width: 750px;
	}

	@include atSmDesktop {
		width: 970px;
	}

	@include atDesktop {
		width: 1170px;
	}

	@include atBiggie {
		width: 1500px;
	}
} */

/* .wrap {
	width: 100%;
	max-width: none;
} */

.header-wrap {
	@include atTablet {
		display: flex;
	}
}

/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
	width: 100%;
	position: fixed;
	padding: 0.25em 0;
	background: $blue_black;
	z-index: 3;
	transition: background 0.3s ease;
}

.scroll-header {
}

.site-header-hide {
	opacity: 0;
}

.site-branding {
	text-align: center;
	float: left;
	overflow: hidden;
}

#site-navigation {
	display: none;
	margin-left: auto;

	@include atTablet {
		display: block;
	}
}

/* ==========================================================================
   Menus
   ========================================================================== */

.main-navigation ul {
	display: flex;
	width: 100%;
	min-height: 50px;
	list-style: none;
	text-align: center;
	margin: 0;
	padding-left: 0;
}

.site-branding,
.main-navigation li {
	display: inline-flex;
	align-items: center;
	margin: 0;
	transition: none;
}

.main-navigation li:last-of-type a {
	padding-right: 0;
}

.site-branding > a,
.main-navigation a {
	padding: 9px 16px;
	color: #fff;
	font-family: raleway;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transition: color 0.3s ease;
}

.site-branding > a {
	padding-left: 0;
	text-transform: initial;
}

.site-branding > a:hover,
.main-navigation a:hover {
	color: $rust;
}

.menu-toggle {
	display: none;
}

/* the mobile menu */
@media screen and (max-width: 767px) {
	.menu-toggle {
		display: block;
		position: absolute;
		right: 0;
		top: 4px;
		padding: 4px;
		background: $rust;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		z-index: 1000;
	}
	.icon-bar {
		display: block;
		margin: 4px;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: #000;
	}

	.main-navigation ul {
		display: block;
		height: 0;
		min-height: 0;
		overflow: hidden;
		transition: height 0.3s ease;
	}

	.main-navigation ul.mobile-menu {
		height: 130px;
	}

	.main-navigation {
		float: none;
		width: 100%;
	}

	.main-navigation ul {
		text-align: center;
	}

	.site-branding {
		/* width: 172px; */
		margin: 0 auto;
		z-index: 10;
	}
}
/* end (max-width: 767px) */

/* ==========================================================================
   Home
   ========================================================================== */

.home-wrap {
	padding-top: 6em;
	padding-bottom: 3em;

	@include atTablet {
		padding-top: 7em;
	}
}

.landing-text-pos {
	margin-top: 1em;
	text-align: center;
}

h1,
h2 {
	margin-bottom: 20px;
	color: $blue_black;
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: 0.25px;
	font-family: "Raleway", sans-serif;
}

h2 {
	margin-bottom: 36px;
}

#title_hr {
	border-top: 3px solid #fff;
	margin: 0.6em auto;
	width: 50px;
}

.landing-intro {
	font-size: 1.3em;
	letter-spacing: 0.25px;
}

.landing-intro-email {
	font-size: 1.2em;

	a {
		color: #696969;
	}
}

.about-me-wrap {
	padding: 6vh 0;
	background-color: #fff;
	overflow: hidden;
}

.desc-text {
	font-size: 1.5em;
}

.expertise-wrap {
	padding: 10vh 0;
	background-color: white;
	overflow: hidden;
}

.portfolio-wrap {
	padding: 2.8em 0;
	background-color: #efefef;
	overflow: hidden;
}

.portfolio-items {
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	max-width: 1400px;
	margin: 2em auto 0;

	@include atTablet {
		width: 75%;
	}
}

.portfolio-item-wrap {
	position: relative;
	width: 100%;
	margin: 15px;
	overflow: hidden;

	@include atSmall {
		width: calc(50% - 30px);
	}

	@include atTablet {
		width: calc(50% - 30px);
	}

	@include atSmDesktop {
		width: calc(33% - 30px);
	}
}

.portfolio-item {
	margin-bottom: 40px;
	background: #fff;
	overflow: hidden;

	@include atSmDesktop {
		&:nth-child(even) .row {
			flex-direction: row-reverse;
		}
	}

	@include atSmDesktop {
		&:nth-child(even) .row {
			.portfolio-details {
				padding-left: 45px;
			}
		}
	}

	.portfolio-image {
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include atTablet {
			height: auto;
		}
	}

	.portfolio-details {
		@include atTablet {
			padding: 15px;
		}
		@include atSmDesktop {
			padding: 20px 15px 28px 30px;
		}
	}

	.portfolio-detail-content {
		padding: 15px;

		@include atTablet {
			padding: 0;
			padding-right: 15px;
		}
	}

	.portfolio-details h3 {
		margin-bottom: 0;
		font-size: 2em;
		line-height: 1.25;

		@include atTablet {
			line-height: 1.5;
		}
	}

	.portfolio-details h4 {
		margin-bottom: 1em;
		font-size: 1.4em;
		color: #000;
		font-weight: 400;
	}

	.portfolio-details .info-text {
		max-width: 700px;
		font-size: 1.4em;

		@include atSmDesktop {
			font-size: 1.142857142857143em;
		}
	}

	.portfolio-image img {
		object-fit: cover;
		height: 100%;
		width: fit-content;
	}
}

.btn--gold {
	display: inline-block;
	min-width: 130px;
	margin: 8px 0;
	padding: 8px 12px;
	background: $rust;
	border: 0;
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	transition: background 0.3s ease 0s;
	z-index: 1;
	outline: none;
	letter-spacing: 0.75px;

    @include atTablet {
        padding: 10px 16px;
    }

	&:hover {
		background: $rustHover;
	}

	&.btn--lrg {
		padding: 12px 30px;
		font-size: 1.1em;
	}

	&.btn--resume {
		color: #fff;
		margin: 50px auto 0;
	}

	&.btn--view-more {
		margin: 0;
	}

	&.btn--link {
		color: #fff;
		margin: 4px 0 8px;
	}
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
	transition-property: opacity, visibility, transform;
	transform: translateY(50px);
	z-index: 99999;
	background: #efefef;

	&.show {
		opacity: 1;
		visibility: visible;
		transform: none;
	}
}

.modal-dialog {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0;
	background: transparent;
}

.modal-content {
	border: medium none;
	border-radius: 0;
	min-height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
}

.modal-body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto !important;
	outline: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: transparent;
}

.modal .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	@include atMedium {
		max-width: 100%;
	}

	@include atTablet {
		flex-wrap: no-wrap;
		overflow: hidden;
	}

	@include atDesktop {
		max-width: 1140px;
		height: 90%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.modal .container .modal-info-wrap {
	position: relative;
	width: 100%;
	padding: 4em 2em 3em;
	background-color: #262626;

	@include atTablet {
		width: 50%;
		height: 100%;
		overflow: auto;
		padding: 4em 2em 2em;
	}

	@include atSmDesktop {
		padding: 4em 5em 2em;
	}
}

.info-item {
	h3 {
		margin-bottom: 12px;
		font-size: 2em;
		color: white;
		font-weight: 600;
	}

	h4 {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.25em;
		font-weight: 400;
		color: white;
	}

	h5 {
		margin: 30px 0 6px 0;
		font-size: 12px;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		color: white;
		letter-spacing: 1px;
	}

	.info-text {
		margin-top: 24px;
		margin-bottom: 40px;
		font-size: 1.4em;
		letter-spacing: 0.025rem;
		color: #b7b7b7;
		line-height: 25px;

		@include atSmDesktop {
			font-size: 1.142857142857143em;
		}
	}

	.info-tech {
		font-size: 12px;
		color: #b7b7b7;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 10px -2px 0;
	}

	.label {
		display: inline-block;
		margin: 0 2px 4px;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		line-height: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		letter-spacing: 0.75px;
		border-radius: 0;
		padding: 3px 6px;
		font-size: 10px;
		vertical-align: middle;
		pointer-events: none;
		user-select: none;

        @include atTablet {
            padding: 4px 8px;
        }

		&.html {
			background: #ab7a7a;
		}

		&.css,
		&.scss,
		&.responsive-design {
			background: #a0ab7a;
		}

		&.wordPress {
			background: #7aab97;
		}

		&.javascript,
		&.jquery,
		&.react,
		&.styled-components,
		&.jekyll,
		&.liquid {
			background: #7a93ab;
		}

		/* &.responsive-design {
            background: #8a7aab;
        } */

		&.photoshop,
		&.illustrator,
		&.inkscape {
			background: #a67aab;
		}

		&.more {
			background: #ab7a7b;
		}
	}
}

.info-item,
.modal-image-wrap img,
.black-close {
	transition: 0.4s cubic-bezier(0.13, 0.19, 0.34, 0.96);
	transition-property: opacity, transform;
	transform: translateY(30px);
	transition-delay: 0.25s;
	opacity: 0;
}

.black-close {
	transform: translateY(60px);
	transition-delay: 0.6s;
}

.modal.show .info-item,
.modal.show .modal-image-wrap img,
.modal.show .black-close {
	opacity: 1;
	transform: none;
}

.modal .container .modal-image-wrap {
	width: 100%;
	padding: 2em;
	background: #afafaf;
	text-align: center;

	@include atTablet {
		display: block;
		width: 50%;
		height: 100%;
		overflow: auto;
	}
}

.modal .container .modal-image-wrap > img {
	width: 100%;
	max-width: 320px;
	margin-bottom: 2em;

	&:last-of-type {
		margin: 0;
	}

	@include atMedium {
		width: calc(50% - 1em);
		max-width: 100%;
		float: left;

		&:nth-of-type(odd) {
			margin-right: 2em;
		}
	}

	@include atTablet {
		width: 100%;
		max-width: 100%;
		float: none;

		&:nth-of-type(odd) {
			margin-right: 0;
		}
	}
}

.black-close,
.see-more {
	position: absolute;
	top: 14px;
	right: 14px;
	background: transparent;
	border: 0;
	color: #fff;
	font-size: 20px;
	text-shadow: none;
	outline: none;

	@include atTablet {
		top: 20px;
		right: 20px;
		ont-size: 18px;
	}
}

a.see-more {
	color: #d5d5d5;
	font-size: 2em;
	position: relative;
	right: auto;
	top: auto;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	background: $blue_black;
	color: #fff;
	text-align: left;
	padding: 1.25em 1em;
	margin: 0;
}

.footer-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: 0.1em;

	@include atTablet {
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer-wrap p {
	margin: 0;
}

.footer-wrap a {
	display: inline-block;
	color: #fff;
	transition: color 0.3s ease;
}

.footer-wrap a:hover {
	color: $rust;
}
