.text-center {
	text-align: center !important;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}
