/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$text: #696969;
$blue_black: #0f1726;
$rust: #ab977a;
$rustHover: #9c8462;

$gray: #b0a89e;
$aqua: #2a8b9f;
$purple: #642152;

/* Text Selection */
$selectionColor: #0f1726;
$selectionBackgroundColor: #ab977a;
