/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$text: #696969;
$blue_black: #0f1726;
$rust: #ab977a;
$rustHover: #9c8462;

/* Text Selection */
$selectionColor: #0f1726;
$selectionBackgroundColor: #ab977a;
